@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Domine&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

html, body {
    background-color: #00060F;
}

header > h1 {
    color: white;
    text-align: center;
    font-family: 'Abril Fatface', cursive;
}

span#burguer {
    background-color: rgb(48, 48, 48);
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
}

span#burguer:hover {
    background-color: #032F33;
    color: black;
    cursor: pointer;
}

menu {
    display: none;
}

menu > ul{
    list-style-type: none;
}

menu > ul > li > a {
    display: block;
    padding: 15px;
    text-decoration: none;
    text-align: center;
    background-color: #032333;
    color: white;
    border-top: 2px solid #032F33;
}

menu > ul > li > a:hover {
    background-color: #032F33;
    color: rgb(0, 0, 0);
}


main {
    max-width: 90vh;
    margin: auto;
    margin-top: 15px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.76);
    border-radius: 10px;
}

h1 {
    padding: 10px;
    font-family: 'Abril Fatface', cursive;
    font-size: 2em;
    text-align: center;
}

h2 {
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 2.0em;
    font-family: 'Abril Fatface', cursive;
    text-align: center;
}

p {
    display: inline-block;
    padding: 15px ;
    font-size: 1.2em;
    font-family: 'Domine', serif;
    text-align: justify;
}
article > img {
    max-width: 90vw;
    max-height: 90vh;
    padding: auto;
    margin: auto;
    border-radius: 10px;
}

article > h1 {
    font-size: 3em;
}

div {
    text-align: center;
    background-color: #00060fa2;
    background-position: center;
    border-radius: 10px;
    padding: 10px;
}

div > span {
    background-color: #032f33b7;
    font-size: 1.2em;
}


iframe {
    max-width: 95vw;
    max-height: 95vh;
    box-shadow: 1px 1px 8px #032F33;
}

footer {
    padding: 10px;
    background: #032F33;
    text-align: center;
}

footer >p > a {
    text-decoration: none;
}